@import "variables";

body {
  color: var(--g700);
}

:focus {
  outline: none !important;
}
:focus::before {
  outline: none !important;
}

.color--primary {
  color: $primary !important;
}

.color--secondary {
  color: $light-blue !important;
}

.color--green {
  color: limegreen !important;
}

.color--red {
  color: red !important;
}

.color--white {
  color: white !important;
}

.bg--orange {
  background-color: $salmon2;
}

.bg--blue {
  background-color: $light-blue-transparent;
}

.icon--sm {
  font-size: 2.5rem;
}

.rf-grid-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.justify-content-center {
  justify-content: center;
}

.underline {
  text-decoration: underline;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.bg-orange {
  background-color: rgb(248, 191, 160) !important;
}

.bg--white {
  background-color: white !important;
}

.border--radius {
  border-radius: 6px;
}

.cursor--pointer {
  cursor: pointer;
}

input[type=checkbox]:focus+label::before {
  outline: none !important;
  outline-offset: none !important;
  z-index: 0 !important;
}

.rf-fi-menu-fill {
  visibility: hidden;
}

.rf-fi-menu-fill:last-child {
  visibility: visible !important;
}

.rf-fi-close-line {
  visibility: hidden;
}
.rf-fi-close-line:last-child {
  visibility: visible !important;
}

.rf-header {
  z-index: 10;
}

@media (min-width: 48em) {
.rf-header .rf-nav {
    margin: 0 calc(50% - 49vw) !important;
}
}

img {
  max-width: 100%;
  display: block;
}