@import "variables";

:focus {
  outline: none !important;
}
:focus::before {
  outline: none !important;
}

.color--primary {
  color: $primary;
}

.color--green {
  color: limegreen;
}

.color--red {
  color: red;
}

.color--white {
  color: white;
}

.bg--orange {
  background-color: $salmon2;
}

.bg--blue {
  background-color: $light-blue;
}

.icon--sm {
  font-size: 2.5rem;
}

.rf-grid-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}