$primary: #000091;
$secondary: #d4e3fc;
$light-blue: #5770BE;
$light-blue-transparent: #5771be22;
$brick: #f8bfa0;
$salmon2: #fff0e7;

:root {
  --primary: #000091;
  --secondary: #d4e3fc;
  --light-blue: #5770BE;
  --light-blue-transparent: #5771be22;
  --brick: #f8bfa0;
  --salmon2: #fff0e7;
  --bd300: #d1d2de;
}