VITE_API_URL=https://api.filigrane-dev.dossierfacile.fr
VITE_ENVIRONMENT=dev
WATERMARK_CSP=default-src 'none'; script-src 'self' *.filigrane-dev.dossierfacile.fr 'unsafe-inline' 'unsafe-eval' stats.beta.gouv.fr blob:; style-src 'self' 'unsafe-inline'; img-src 'self' stats.beta.gouv.fr data:; font-src 'self' data:; object-src 'none'; connect-src https://sentry.incubateur.net stats.beta.gouv.fr *.filigrane-dev.dossierfacile.fr blob:; frame-src *.dossierfacile.fr; manifest-src https://filigrane.beta.gouv.fr; child-src *.dossierfacile.fr 'self