<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="line-separator"></div>
        <div class="row big-space-separator-bottom">
            <div class="col-md-12">
                <div class="sutil-separator-xs footer_content">
                    <span>Vous pouvez nous contacter à contact@locatio.beta.gouv.fr</span>
                    <br/>
                    <br/>
                    <a class="text-primary1" href="https://beta.gouv.fr/" target="_blank">En savoir plus sur la démarche startup d'état</a>
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4 footer_logo ">
                <a href="/">
                    <img src="/assets/images/logo.png" alt="" class="img-responsive logo sutil-separator-xs-double"/>
                </a>
            </div>
        </div>
    </div>
</footer>
</html>


