<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
</head>
<body>

    <div th:fragment="guarantor" th:remove="tag">
<p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Mon garant</p>
        <!--<hr style="border-top: 1px solid #3c5fbc" />-->
        <div class="form-group" >
            <label for="lastName" class="text-primary1 formatted-label  medium-space-separator" th:text="#{tenant.garant.title}"></label>
            <input type="text" autocomplete="true" th:field="*{guarantor.lastName}"
                   class="form-control form-control-formatted form-control-untouched guarantor" placeholder="Nom"
                   id="lastName"/>
            <span id="lastName-error" style="display: none; color: red"></span>
        </div>
        <div class="form-group">
            <input type="text"  autocomplete="true" th:field="*{guarantor.firstName}"
                   class="form-control form-control-formatted form-control-untouched guarantor" placeholder="Prenom"
                   id="firstName"/>
            <span id="firstName-error" style="display: none; color: red"></span>
        </div>


        <div class="form-group">
            <label for="identity_card" class="text-primary1 formatted-label space-separator">Pièce
                d'identité en cours de validité :</label>
            <div class="input-icon text-center info-icon input-file-container">
                <input type="text"
                       class="form-control form-control-formatted form-control-untouched input-file guarantor"
                       placeholder="Ajouter un document" id="identity_card" readonly="" data-id="0"/>
                <input type="file" class="hidden file-reader" accept="image/*, .pdf" th:field="*{guarantor.quarantorFiles}"
                       name="identity_card"/>
                <span class="img info-icon text-alter" data-toggle="tooltip" data-placement="bottom"
                      title=""
                      data-original-title="carte d'identité OU passeport OU permis de conduire OU carte de séjour OU carte de résident">
                            <span>?</span>
                          </span>
            </div>
        </div>

        <div class="form-group">
            <label for="domicile" class="text-primary1 formatted-label space-separator">Justificatif de
                domicile :</label>
            <div class="input-icon text-center info-icon input-file-container">
                <input type="text"
                       class="form-control form-control-formatted form-control-untouched input-file guarantor"
                       placeholder="Ajouter un document" id="domicile" readonly="" data-id="1"/>
                <input type="file" class="hidden file-reader" accept="image/*, .pdf" th:field="*{guarantor.quarantorFiles}"
                       name="domicile"/>
                <span class="img info-icon text-alter" data-toggle="tooltip" data-placement="bottom"
                      title=""
                      data-original-title="3 dernières quittances de loyer ou, à défaut, une attestation du précédent bailleur OU attestation sur l'honneur de l'hébergeant">
                            <span>?</span>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <label for="work_status" class="text-primary1 formatted-label space-separator">Justificatif de
                situation professionnelle :</label>
            <div class="input-icon text-center info-icon input-file-container">
                <input type="text"
                       class="form-control form-control-formatted form-control-untouched input-file guarantor"
                       placeholder="Ajouter un document" id="work_status" readonly="" data-id="2"/>
                <input type="file" class="hidden file-reader" accept="image/*, .pdf" th:field="*{guarantor.quarantorFiles}"
                       name="work_status"/>
                <span class="img info-icon text-alter" data-toggle="tooltip" data-placement="bottom"
                      title=""
                      data-original-title="contrat de travail ou de stage ou, à défaut, attestation de l'employeur OU carte d'étudiant OU certificat de scolarité OU copie de la carte professionnelle (profession libérale) OU autre">
                            <span>?</span>
                          </span>
            </div>
        </div>
        <div class="form-group">
            <label for="impots" class="text-primary1 formatted-label space-separator">Avis d'imposition
                :</label>
            <div class="input-icon text-center info-icon input-file-container">
                <input type="text"
                       class="form-control form-control-formatted form-control-untouched input-file guarantor"
                       placeholder="Ajouter un document" id="impots" readonly="" data-id="3"/>
                <input type="file" class="hidden file-reader" accept="image/*, .pdf" th:field="*{guarantor.quarantorFiles}"
                       name="justificatif_res"/>
                <span class="img info-icon text-alter" data-toggle="tooltip" data-placement="bottom"
                      title="" data-original-title="dernier avis d'imposition ou de non-imposition">
                            <span>?</span>
                          </span>
            </div>
        </div>
        <div class="form-group">
            <label for="justificatif_res" class="text-primary1 formatted-label space-separator">Justificatif
                de ressources :</label>
            <div class="input-icon text-center info-icon input-file-container">
                <input type="text"
                       class="form-control form-control-formatted form-control-untouched input-file guarantor"
                       placeholder="Ajouter un document" id="justificatif_res" readonly="" data-id="4"/>
                <input type="file" class="hidden file-reader" accept="image/*, .pdf" th:field="*{guarantor.quarantorFiles}"
                       name="justificatif_res"/>
                <span class="img info-icon text-alter" data-toggle="tooltip" data-placement="bottom"
                      title=""
                      data-original-title="3 derniers bulletins de salaires OU justificatif de versement des indemnités de stage OU 2 derniers bilans comptables ou, à défaut attestation des ressources délivrée par un comptable (non-salariés)">
                            <span>?</span>
                          </span>
            </div>
        </div>
    </div>

</body>
</html>


