.add_owner {
    background-color: #70a83b;
    border-radius: 50%;
    font-size: 25px;
    padding: 2px 6px 5px;
    color: white;
    position: absolute;
    top: 55px;
    right: 6px;
}

#owners_emails_list {
    position: relative;
}

.marg_top_10 {
    margin-top: 10px;
}

@media (max-width: 991px) {

    .footer_logo {
        display: none;
    }

    .footer_content {
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .home_main_button {
        min-width: 210px;
    }
}

.home_main_button {
    min-width: 245px;
}

.fixed-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 36px;
    z-index: 500;
}

.fixed-header-link-container {
    position: absolute;
    right: 0;
}

.fixed-header-link-container form {
    display: inline;
}

.fixed-header-link {
    text-decoration: none;
    padding: 10px;
}

.fixed-header-link:hover {
    text-decoration: none;
}
.profile:hover {
    color: #003988;
    order-color: transparent;
}
.profile {
    color: #003988;
    display: inline-block;
}
.logout{
    background:none!important;
    color:#D03433;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid #444;*/
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 991px) {
    .home_subtitle_text {
        display: none;
    }
}
.footer_content{
    text-align: center;
    margin-bottom: 20px;
}

.footer_logo{
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}
.logo{
    float: left;
}
body{
    margin-top: 73px;
}
.link-file{
    background-color: #eee;
    opacity: 1;
    border-radius: 50px !important;
    display: block;
    width: 100%;
    height: 40px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}

.link-file:hover{
    text-decoration: none;
    border-color: #003189;
    color: #003189;
}

.link-file:focus{
    text-decoration: none !important;
    color: #003189;
}
.icono-edit-file{
   margin-left: -2px;
}

.nounderline{
    text-decoration: none !important;
}
.top-buffer{
    margin-top: 20px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.deleteLink{
    color:#D03433;
    font-size: 20px;
}
.bo-btn{
    border-radius: 50px;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1;
}

@media screen and (max-width: 600px) {
    .link-owner{
        font-size: 10px !important;
    }
}

.link-owner{
    background-color: #eee;
    opacity: 1;
    border-radius: 50px !important;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}

.link-owner:hover{
    text-decoration: none;
    border-color: #003189;
    color: #003189;
}

.link-owner:focus{
    text-decoration: none !important;
    color: #003189;
}

.blue-cross {
    right: 2px;
    bottom: 4px;
}
.underline{
    text-decoration: underline !important;
}
