<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Procédure de changement de mot de
                    passe</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-md-6 col-sm-8 col-xs-10">
                <form class="form" th:action="@{/change-password}" th:method="post">
                    <input type="hidden" autocomplete="true" required="required" th:name="token" th:value="*{token}" id="token"/>
                    <div class="form-group">
                        <label for="password" class="text-primary1 formatted-label  medium-space-separator">Entrez votre nouveau mot de passe&nbsp;:</label>
                        <input type="password" autocomplete="true" required="required" th:name="password"
                               class="form-control form-control-formatted form-control-untouched " placeholder="Mot de passe" id="password"/>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation" class="text-primary1 formatted-label  medium-space-separator">Confirmez votre nouveau mot de
                            passe&nbsp;:</label>
                        <input type="password" autocomplete="true" required="required" th:name="passwordConfirmation"
                               class="form-control form-control-formatted form-control-untouched " placeholder="Mot de passe" id="passwordConfirmation"/>
                    </div>

                    <div class="text-center medium-space-separator">
                        <button type="submit" class="btn btn-primary btn-responsive animated subtitle1">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
