<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locat.io</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="bg-white">
        <div class="container">
            <div class="space-separator">
                <a th:href="@{/home}" class="">
                    <img src="assets/images/logo.svg" alt="" class="logo animated slideInLeft" />
                </a>
            </div>
        </div>
    </div>
    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Constituez votre dossier : seules les pièces autorisées par la loi vous sont demandées</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-md-6 col-sm-8 col-xs-10">

                <form class="form" th:action="@{/info-locataire}" method="post" th:object="${tenant}" enctype="multipart/form-data" id="formLocataire">
                    <div class="form-group">
                        <label for="name" class="text-primary1 formatted-label  medium-space-separator">Entrez vos informations personnelles:</label>
                        <!--Add or remove the class (invalid) for validations-->
                        <input type="text" autocomplete="true" required="required" th:field="*{name}" class="form-control form-control-formatted form-control-untouched " placeholder="Nom" id="name"/>
                    </div>
                    <div class="form-group">
                        <input type="text" required="required" autocomplete="true" th:field="*{lastName}" class="form-control form-control-formatted form-control-untouched" placeholder="Prenom"/>
                    </div>
                    <div class="form-group">
                        <input type="email" required="required" autocomplete="true" th:field="*{email}" class="form-control form-control-formatted form-control-untouched" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="text-primary1 formatted-label space-separator">Pièce d'identité en cours de validité (carte d'identité OU passeport OU permis de conduire OU carte de séjour OU carte de résident)&nbsp;:</label>
                        <div class="input-icon text-center green-icon">
                            <input type="file" accept="image/*, .pdf" th:field="*{files}" class="form-control form-control-formatted form-control-untouched" placeholder="Dossier 01" id="name1" />
                            <span class="img green-icon text-alter">
                <span>+</span>
              </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="text-primary1 formatted-label space-separator">Justificatif de domicile (3 dernières quittances de loyer ou, à défaut, une attestation du précédent bailleur OU attestation sur l'honneur de l'hébergeant)&nbsp;:</label>
                        <div class="input-icon text-center green-icon">
                            <input type="file" accept="image/*, .pdf" th:field="*{files}" class="form-control form-control-formatted form-control-untouched" placeholder="Dossier 02" />
                            <span class="img green-icon text-alter">
                <span>+</span>
              </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="text-primary1 formatted-label space-separator">Justificatif de situation professionnelle (contrat de travail ou de stage ou, à défaut, attestation de l'employeur OU carte d'étudiant OU certificat de scolarité OU copie de la carte professionnelle (profession libérale) OU autre)&nbsp;:</label>
                        <div class="input-icon text-center green-icon">
                            <input type="file" accept="image/*, .pdf" th:field="*{files}" class="form-control form-control-formatted form-control-untouched" placeholder="Dossier 03" />
                            <span class="img green-icon text-alter">
                <span>+</span>
              </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name3" class="text-primary1 formatted-label space-separator">Justificatif de ressources(dernier avis d'imposition ou de non-imposition ET 3 derniers bulletins de salaires OU justificatif de versement des indemnités de stage OU 2 derniers bilans comptables ou, à défaut attestation des ressources délivrée par un comptable (non-salariés))&nbsp;:</label>
                        <div class="input-icon text-center green-icon">
                            <input type="file" accept="image/*, .pdf" th:field="*{files}" class="form-control form-control-formatted form-control-untouched" placeholder="Dossier" />
                            <span class="img green-icon text-alter">
                <span>+</span>
              </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailsList" class="text-primary1 formatted-label medium-space-separator">Rentrez les emails des propriétaires à qui vous souhaitez envoyer votre dossier :</label>
                        <textarea th:field="*{emailsList}" class="form-control form-control-formatted form-control-untouched" placeholder="example1@email.com,example2@email.com"
                                  id="emailsList" style="border-radius:0"  rows="7"></textarea>
                    </div>
                    <div class="text-center medium-space-separator">
                        <a href="" class="btn btn-primary btn-responsive animated subtitle1 envoyer" >Envoyer votre dossier</a>
                    </div>
                    <div class="text-center space-separator-top medium-space-separator-bottom">
                        <a th:href="@{/home}" class="text-primary text-primary1">
                            Revenir
                        </a>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content text-primary">
                                <div class="modal-body text-center">
                                    <p class="text-primary little-title space-separator border-bottom border-primary">Locataire</p>
                                    <p class="text-primary1 medium-space-separator padding-sides">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, ipsum architecto quibusdam soluta hic aliquam
                                    </p>
                                    <div class="medium-space-separator-top">
                                        <a th:href="@{/home}" class="btn btn-primary btn-responsive subtitle1" >Terminer</a>
                                    </div>
                                    <div class="medium-space-separator-top space-separator-bottom">
                                        <a href="#" class="btn btn-default btn-responsive clearEmails subtitle1">Envoyer mon dossier à d'autres propriétaires</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--Remove or add this components for validations messages-->
                <!--<div class="text-center">-->
                    <!--<div class="alert alert-danger">Completéz les champs indiqués</div>-->
                <!--</div>-->
                <!--<div class="text-center">-->
                    <!--<div class="alert alert-info">Dont do that</div>-->
                <!--</div>-->
                <!--<div class="text-center">-->
                    <!--<div class="alert alert-success">Weel done!</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <footer style="background-color: white;">
        <div class="container">
            <div class="line-separator"></div>
            <div class="row medium-space-separator-top big-space-separator-bottom">
                <div class="col-md-4">
                    <a href="/">
                        <img src="assets/images/logo.svg" alt="" class="img-responsive logo sutil-separator-xs-double"/>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="sutil-separator-xs link">
                        <span>Vous pouvez nous contacter à contact@locatio.beta.gouv.fr</span>
                        <br/>
                        <br/>
                        <a class="text-primary1" href="https://beta.gouv.fr/" target="_blank">En savoir plus sur la démarche startup d'état</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
