<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

        <div class="banner-owner big-space-separator text-center animated-2 fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 ">
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center big-title text-primary medium-padding-sides space-separator-top">
            Questions fréquemment posées
        </p>
    <div class="container big-space-separator">

        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                     data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Je suis marié ou en couple : comment faire ?</a>
                    </h4>

                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <!--<h5><span class="label label-primary">Answer</span></h5>-->

                        <p>Pour créer deux dossiers de locations liés, créez simplement une colocation (voir "Comment créer ma colocation ?" ). Lorsque vous envoyer un message aux propriétaires, pensez bien à indiquer que vous êtes en couple et non en colocation.

                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                     data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">J'ai ajouté toutes mes pièces, mais je n'arrive pas à valider mon dossier. Que faire ?</a>
                    </h4>

                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <!--<h5><span class="label label-primary">Answer</span></h5>-->

                        <p>1) Si vous n'avez pas de garant, vérifiez que vous avez bien décoché l'option "garant".
                            2) Vérifiez que l'adresse mail renseignée est bien correcte et n'a pas déjà été utilisée pour créer un compte.
                            3) Vérifiez vos emails : peut-être avez-vous déjà reçu un mail de Locatio vous confirmant la création de votre compte.
                            4) Contactez-nous à contact@locatio.beta.gouv.fr et décrivez-nous votre situation. Nous vous répondrons dans les meilleurs délais.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                     data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Mes données sont-elles sécurisées ?</a>
                    </h4>

                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <!--<h5><span class="label label-primary">Answer</span></h5>-->

                        <p>La sécurité des données personnelles est une priorité pour nous. Vos données personnelles ne seront jamais revendues, ou communiquées à des tiers sans votre accord express.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                     data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Je suis étranger, est-ce que je peux bénéficier du service ?</a>
                    </h4>

                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <!--<h5><span class="label label-primary">Answer</span></h5>-->

                        <p>Oui, à condition de disposer des pièces nécessaires. Malheureusement, nous ne pouvons pas encore traiter toutes les demandes étrangères. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                     data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Que fait-on de mes données personnelles ?</a>
                    </h4>

                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <!--<h5><span class="label label-primary">Answer</span></h5>-->

                        <p>Locatio conserve vos pièces justificatives pendant 3 mois à compter de la création de votre compte. Vos données personnelles sont anonymisées (suppression des noms et prénoms permettant de vous identifier) et sont conservées pendant 2 ans pour analyser les usages, mesurer l'impact et la diffusion territoriale de Locatio, et améliorer le service.
                            Ces données nous permettent par exemple de déterminer les options les plus pertinentes à vous proposer en fonction des usages les plus fréquents. Elles nous permettent également de mesurer l'évolution du marché du logement : vitesses d'attribution des logements, "files d'attente" dans les zones tendues, comparaison de l'offre et de la demande.

                            Vous avez un droit d'accès, de rectification et de suppression de vos données. Pour l'exercer, envoyez-nous un courriel en précisant la date et l'heure précise de création de votre compte. Comme nous n'enregistrons pas d'éléments nominatifs, seuls ces éléments peuvent nous permettre de retrouver votre compte.

                            Nous nous engageons à ne jamais exploiter les informations que vous nous transmettrez dans un but commercial ou publicitaire. De manière générale, Locatio n’accepte aucune forme de publicité.

                            Nous collectons également des données anonymes d'audience. Cela nous permet par exemple de déterminer la durée d'utilisation du service et les pages à améliorer en priorité.

                            Nous nous engageons à prendre toutes les mesures nécessaires pour garantir la sécurité et la confidentialité des informations que vous nous fournissez.
                            Les comptes locataires et propriétaires sont enregistrés dans un centre de données sécurisé. Seules nos équipes techniques peuvent y accéder. </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
