<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Mot de passe perdu&nbsp;?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-md-6 col-sm-8 col-xs-10">
                <form class="form" th:action="@{/reset-password}" th:method="post">
                    <div class="form-group">
                        <label for="recoveryEmail" class="text-primary1 formatted-label  medium-space-separator">Entrez l'email utilisé lors de la création du compte&nbsp;:</label>
                        <input type="text" autocomplete="true" required="required" th:name="recoveryEmail" class="form-control form-control-formatted form-control-untouched " placeholder="Email" id="recoveryEmail"/>
                    </div>
                    <div class="text-center medium-space-separator">
                        <button type="submit" class="btn btn-primary btn-responsive animated subtitle1">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
