<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="bg-white">
        <div class="container">
            <div class="space-separator">
                <a th:href="@{/home}" class="">
                    <img src="/assets/images/logo.svg" alt="" class="logo animated slideInLeft" />
                </a>
            </div>
        </div>
    </div>
    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Un message a été envoyé à l'adresse email renseignée. Cliquez sur le lien afin de définir un nouveau mot de passe.</p>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Cette adresse email est inconnue.</p>
            </div>
        </div>
    </div>
    <footer style="background-color: white;">
        <div class="container">
            <div class="line-separator"></div>
            <div class="row big-space-separator-bottom">
                <div class="col-md-4 footer_logo">
                    <a href="/">
                        <img src="/assets/images/logo.svg" alt="" class="img-responsive logo sutil-separator-xs-double"/>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="sutil-separator-xs link footer_content">
                        <span>Vous pouvez nous contacter à contact@locatio.beta.gouv.fr</span>
                        <br/>
                        <br/>
                        <a class="text-primary1" href="https://beta.gouv.fr/" target="_blank">En savoir plus sur la démarche startup d'état</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
