<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="banner-owner big-space-separator text-center animated-2 fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 ">
                </div>
            </div>
        </div>
    </div>
    <p th:text="#{locatio.header.link.information}"
       class="text-center big-title text-primary medium-padding-sides space-separator-top">
    </p>
    <div class="container medium-space-separator">

        <p class="bold">Locatio</p>

        <p>Dans les zones où la demande de logement est plus forte que l’offre, nous savons que le parcours n’est simple
            ni pour les locataires ni pour les propriétaires. La principale raison ? Les bailleurs ont peur car même si
            les impayés, les refus de quitter les lieux et les dégradations sont rares, ces situations existent bel et
            bien.</p>

        <p> Résultat : Côté locataires c’est beaucoup de demandes de visites et peu de réponses. Trouver un logement est
            devenu un parcours du combattant qui pousse certains à falsifier leurs fiches de paie ou leurs déclarations
            d’imposition. Face à tous ces dossiers maquillés, se démarquer est devenu la seule solution pour avoir sa
            chance.</p>

        <p>Pour les propriétaires, mettre une annonce de location sur une plateforme de location c’est s’exposer à une
            avalanche de messages, d’e-mails, de SMS ou de messages vocaux. Tous les dossiers sont différents, tous les
            candidats aussi et s’y retrouver pour trouver le locataire le plus adapté relève de l’exploit !</p>

        <p>Chez Locatio, notre ambition est de casser ce cercle vicieux.</p>


        <p class="bold"> Notre solution ? </p>

        <p>Remettre la confiance au centre de la relation entre propriétaires et locataire grâce à notre outil 100 % en
            ligne, simple et gratuit.</p>

        <p> Locataires, notre service vous permet d’augmenter vos chances d’obtenir une visite en donnant une
            information
            supplémentaire au propriétaire sur la qualité de votre dossier. Avec Locatio : augmentez de 24 % votre
            chance
            d’obtenir une visite !</p>

        <p>Propriétaires, Locatio c’est pour vous la garantie de recevoir uniquement des dossiers complets, cohérents
            et
            vérifiés par nos algorithmes. Nous savons que trop d’information tue l’information, c’est pourquoi nous
            centralisons également vos dossiers et vos demandes de location pour vous aider à vous y retrouver. y voir
            plus
            clair ! . Les locataires qui vous sollicitent sont automatiquement ajoutés sur votre compte propriétaire et
            leeurs dossiers sont rangés, triés et accessibles. Et bien-sûr tout ça gratuitement.</p>


        <p class="bold">La démarche startup d’État </p>

        <p>Depuis juin 2013, l’État a expérimenté une nouvelle manière de construire des services publics numériques,
            d’abord au sein du Secrétariat Général pour la Modernisation de l’Action Publique (SGMAP) en réussissant
            tout
            d’abord la refonte de data.gouv.fr, avant la création en septembre 2015 d’une structure dédiée :
            l’Incubateur de
            Services Numériques beta.gouv.fr, une Mission de la Direction interministérielle du numérique et du système
            d'information et de communication de l'État (DINSIC).</p>

        <p>Les changements de société ou bien les évolutions de rupture imposent de repenser l’interaction entre
            l’administration et les citoyens. De nouvelles opportunités s’ouvrent pour rendre un service gratuit, direct
            et
            innovant aux usagers. C’est la volonté des Startup d’État qui - sans capital privé et sans business model -
            adoptent une démarche frugale pour construire un produit, développer des solutions, conquérir un marché,
            bref :
            vous rendre service !
            Pour être sûr de ne pas retomber dans les travers d’une administration complémentaire (et nécessaire !), les
            projets se développent loin de toute contrainte. Une Startup d’État c’est donc une équipe allant de 2 à 8
            personnes totalement autonomes qui travaillent pour trouver un marché, croitre et vous rendre service : tout
            simplement !
        </p>

        <p class="bold"> La confiance c’est quoi ?</p>

        <p>Difficile à établir et pourtant essentielle, la confiance n’est pas un bien comme les autres. Chez Locatio,
            nous
            l’avons bien compris et nous avons pris le pari d’en faire notre mission !</p>

        <p>Nous n’avons pas la recette magique, mais nous sommes convaincus que la confiance nécessite au moins 3
            ingrédients :</p>
        <ul>

            <li><p>de la bienveillance : missionné par l’État, notre seul objectif est de vous rendre service. Vos
                données
                ne
                sont ni stockées, ni revendues. Nous ne faisons pas non plus de publicité, tout ce que nous faisons,
                c’est
                de
                vous rendre service.</p>
            </li>

            <li><p>de la transparence : Nous contrôlons vos dossiers, vous pouvez nous contrôler : de notre code source
                à
                nos
                chiffres, nous n’avons rien à cacher !</p>
            </li>

            <li><p>du réalisme : chez Locatio, on ne vous promet pas la Lune, mais on vous aide à construire une partie
                de
                la
                fusée.</p>
            </li>
        </ul>


        <p>Vous avez une idée ? Une question ? Vous souhaitez contribuer au projet ?</p>
        <p> N’hésitez pas à nous écrire à
            contact@locatio.beta.gouv.fr</p>

    </div>
</div>
</body>
</html>
