<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="bg-white">


        <div class="banner-owner big-space-separator text-center animated-2 fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 ">
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center big-title text-primary medium-padding-sides space-separator-top">
            Déposez votre dossier sur Locatio et augmentez vos chances de trouver un appartement
        </p>


        <div class="container-fluid bg-white big-space-separator animated-2 fadeIn">
            <div class="container">
                <div class="row">
                </div>
                <div class="row animated-2 fadein">
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top">
                            <img src="/assets/icons/hands.svg" alt=""/>
                        </div>
                        <p class="subtitle space-separator">En un clic</p>
                        <p class="text-primary1">En un seul clic envoyez votre dossier aux propriétaires dont le bien
                            vous interesse</p>
                    </div>
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top">
                            &nbsp;&nbsp;
                            <img src="/assets/icons/coffe.svg" alt=""/>
                        </div>
                        <p class="subtitle space-separator">Démarquez-vous</p>
                        <p class="text-primary1">Grâce à Locatio et la série de tests effectués sur votre dossier vous
                            augmentez de 60% la probabilité d'obtenir
                            l'appartement de vos rêves</p>
                    </div>
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top ">
                            &nbsp;&nbsp;&nbsp;
                            <img src="/assets/icons/security.svg" alt=""/>
                        </div>
                        <p class="subtitle space-separator">Pas d'abus</p>
                        <p class="text-primary1">Avec Locatio ne fournissez que <a
                                href="https://www.service-public.fr/particuliers/vosdroits/F1169"
                                class="text-primary1" target="_blank"> les pièces autorisées</a> et rien de plus !</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="bg-primary text-center medium-space-separator text-primary">
                <div class="container">
                    <!--<a href="#account-type" data-toggle="modal" data-target="#account-type"
                       class="btn btn-primary btn-responsive animated bounceInUp">Créer un compte</a>-->
                    <a th:href="@{/registerTenant/step1}" class="btn btn-primary btn-responsive animated bounceInUp">Créer un compte</a>
                </div>
                <br/>
                <a th:href="@{/login}" class="medium-space-separator top-buffer">Me connecter</a>

            </div>
        </div>

        <!--this one hides on 970px-->
        <div class="container col-md-0 big-space-separator">
            <table class="paired-td">
                <tbody>
                <tr>
                    <td class="border-right border-primary text-center">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">1</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/security.svg" alt="" class="img-responsive"/>
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je crée mon compte Locatio en fournissant uniquement les pièces autorisées par la loi
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">2</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/coffe.svg" alt="" class="img-responsive"/>
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Locatio effectue une série de tests pour s'assurer que mon dossier est conforme aux attentes
                            des propriétaires (revenus, fiche d'imposition, etc.)
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">3</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/email-03.svg" alt="" class="img-responsive"/>
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je reçois un lien unique à envoyer aux propriétaires leur permettant d'obtenir une assurance
                            de la qualité de mon dossier sans avoir accès aux pièces (Etat tiers de confiance)
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">4</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/hands.svg" alt="" class="img-responsive"/>
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Les demandes comportant un mention de dossier Locatio ont jusqu'à 24% de chances de plus
                            d'obtenir une visite
                        </p>
                    </td>
                    <td>
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">5</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/email-02.svg" alt="" class="img-responsive"/>
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Lorsque je le souhaite, j'envoie simplement mon dossier aux propriétaires que j'ai
                            sélectionnés en un clic
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!--This one shows on 970px-->
        <div class="big-space-separator col-md-show container padding-sides">
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">1</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/security.svg" alt="" class="img-responsive"/>
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Je crée mon compte Locatio en fournissant uniquement les pièces autorisées par la loi
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">2</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/link.svg" alt="" class="img-responsive"/>
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Locatio effectue une série de tests pour s'assurer que mon dossier est conforme aux attentes
                            des propriétaires (revenus, fiche d'imposition, etc.)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">3</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/email-03.svg" alt="" class="img-responsive"/>
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Je reçois un lien unique à envoyer aux propriétaires leur permettant d'obtenir une assurance
                            de la qualité de mon dossier sans avoir accès aux pièces (Etat tiers de confiance)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">4</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/dossiers.svg" alt="" class="img-responsive"/>
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Les demandes comportant un mention de dossier Locatio ont jusqu'à 24% de chances de plus
                            d'obtenir une visite
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">5</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/email-02.svg" alt="" class="img-responsive"/>
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Lorsque je le souhaite, j'envoie simplement mon dossier aux propriétaires en clic
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--Modal for account type-->
    <div class="modal fade" id="account-type" tabindex="-1" role="dialog"
         aria-labelledby="link-info">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-primary">
                <div class="modal-body text-center">
                    <p class="text-primary little-title space-separator border-bottom border-primary">Créer un
                        compte</p>

                    <p class="text-primary1 padding-sides">
                        <span>
                            <a th:href="@{/locataire/new}">Je loue seul</a>
                        </span>
                    </p>
                    <p class="text-primary1 padding-sides">
                        <span>
                            <a th:href="@{/locataire/new(apartmentSharing='create')}">Je crée une colocation</a>
                        </span>
                    </p>
                    <p class="text-primary1 padding-sides">
                        <span>
                            <a th:href="@{/locataire/new(apartmentSharing='join')}">Je rejoins une colocation</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
