<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>locatio/proprietaire</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="">


        <div class="banner-owner big-space-separator text-center animated fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <!--<p class="little-title medium-padding-sides">-->
                            <!--Avec Locatio, choisissez le bon locataire-->
                        <!--</p>-->
                        <!--<div class="space-separator">-->
                            <!--<p class="line"></p>-->
                        <!--</div>-->
                        <!--<p class="padding-sides">-->
                            <!--It is a fact that the reader will be distracted by the page layout. Any time of distracction should be the best time waisted-->
                            <!--at least.-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white big-space-separator animated-2 fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-primary title text-center col-md-push-2">
                        Locatio vérifie le dossier de vos locataires pour vous aider à faire le bon choix
                    </div>
                </div>
                <div class="row animated-2 fadein">
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top">
                            <img src="/assets/icons/hands.svg" alt="" />
                        </div>
                        <p class="subtitle space-separator">En Confiance</p>
                        <p class="text-primary1">Locatio effectue une batterie de tests afin de repérer d'eventuelles anomalies dans le dossier de vos locataires</p>
                    </div>
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top">
                            &nbsp;&nbsp;
                            <img src="/assets/icons/coffe.svg" alt="" />
                        </div>
                        <p class="subtitle space-separator">Y voir plus clair</p>
                        <p class="text-primary1">Pour vous y retrouver au milieu de tous vos dossiers, Consultez les principales caractéristiques de vos futurs locataires en un seul endroit sur votre compte Locatio.</p>
                    </div>
                    <div class="col-md-4 text-primary text-center medium-space-separator-top">
                        <div class=" icon medium-space-separator-top ">
                            &nbsp;&nbsp;&nbsp;
                            <img src="/assets/icons/security.svg" alt="" />
                        </div>
                        <p class="subtitle space-separator">Sollicitations abusives</p>
                        <p class="text-primary1">Vous ne souhaitez pas être sollicité par des agences&nbsp;? Pas de problème, nous nous chargeons de vous présenter uniquement des sollicitations conformes à vos attentes.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--this one hides on 970px-->
        <div class="container col-md-0 big-space-separator">
            <table class="paired-td">
                <tbody>
                <tr>
                    <td class="border-right border-primary text-center">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">1</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/security.svg" alt="" class="img-responsive" />
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je crée mon compte Locatio, seul prérequis à l'utilisation du service
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">2</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/coffe.svg" alt="" class="img-responsive" />
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je conduis normalement mes visites. Si je le souhaite, toutes les sollicitations des agents immobiliers sont automatiquement filtrées
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">3</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/email-03.svg" alt="" class="img-responsive" />
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je demande à mes potentiels locataires de déposer leurs pièces sur Locatio en envoyant mon lien unique Locatio. Ce lien est disponible gratuitement sur mon compte Locatio
                        </p>
                    </td>
                    <td class="border-right border-primary">
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">4</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/hands.svg" alt="" class="img-responsive" />
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Locatio conduit une série de tests afin de vérifier la cohérence des pièces de mes locataires
                        </p>
                    </td>
                    <td>
                        <div class="text-center space-separator-bottom">
                            <div class="rounded-badge bg-primary text-primary">5</div>
                        </div>
                        <div class="rounded border border-primary padding medium-size-container" style="margin:auto">
                            <img src="/assets/icons/email-02.svg" alt="" class="img-responsive" />
                        </div>
                        <p class="text-primary text-primary1 text-center padding-sides space-separator-top">
                            Je reçois dans ma boite mail les dossiers des candidats ainsi qu'une information sur les points de vigilance détectés par Locatio
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--This one shows on 970px-->
        <div class="big-space-separator col-md-show container padding-sides">
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">1</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/security.svg" alt="" class="img-responsive" />
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Je crée mon compte Locatio, seul prérequis à l'utilisation du service
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">2</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/link.svg" alt="" class="img-responsive" />
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Un locataire me sollicite ? Je lui envoie simplement par mail le lien suivant <a href="/info-proprietaire">http://locatio.beta.gouv.fr/info-proprietaire</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">3</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/email-03.svg" alt="" class="img-responsive" />
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Chaque jour je reçois par mail une liste synthétique et claire de mes locataires potentiels
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="border-bottom border-primary space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">4</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/dossiers.svg" alt="" class="img-responsive" />
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Je conduis normalement mes visites. Si je le souhaite, toutes les sollicitations des agents immobiliers sont automatiquement filtrées
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-separator">
                <table>
                    <tbody>
                    <tr>
                        <td class="padding-left">
                            <div class="text-center">
                                <div class="rounded-badge bg-primary text-primary">5</div>
                            </div>
                        </td>
                        <td class="padding-sides">
                            <div class="rounded border border-primary padding medium-size-container">
                                <img src="/assets/icons/email-02.svg" alt="" class="img-responsive" />
                            </div>
                        </td>
                        <td class="text-primary text-primary1 padding-right">
                            Je reçois dans ma boite mail les dossiers des candidats ainsi qu’une information sur les points de vigilance détectés par
                            Locatio
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="bg-primary text-center medium-space-separator text-primary" style="min-height: 100px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 col-xs-1"></div>
                        <div class="col-md-6 col-sm-8 col-xs-10 proprio_form_parent" style="background-color: #f8f8f8;border-radius:10px;">
                            <form id="proprio_subscribe" class="form" th:action="@{/owner}" method="post" th:object="${owner}">
                                <input type="hidden" name="token" th:value="${token}" />
                                <div class="form-group">
                                    <label for="lastName" class="text-primary1 formatted-label  medium-space-separator">Je souhaite bénéficier du service:</label>
                                    <!--Add or remove the class (invalid) for validations-->
                                    <input type="text" autocomplete="true" required="required" th:field="*{lastName}" class="form-control form-control-formatted form-control-untouched " placeholder="Nom" id="lastName"/>
                                    <span id="lastName-error" style="display: none; color: red"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" autocomplete="true" th:field="*{firstName}" class="form-control form-control-formatted form-control-untouched" placeholder="Prenom" id="firstName"/>
                                    <span id="firstName-error" style="display: none; color: red"></span>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" required="required" autocomplete="true" th:field="*{email}" class="form-control form-control-formatted form-control-untouched" placeholder="Email"/>
                                    <span id="email-error" style="display: none; color: red"></span>
                                </div>
                                <div class="text-center medium-space-separator">
                                    <button  type="submit" data-loading-text="Création en cours..." class="btn btn-primary btn-responsive animated subtitle1" >Créer un compte</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <span id="subscription_success" style="display: none;position: relative;top: 10px;">Merci ! Nous vous contacterons très prochainement.</span>
                    <!-- Modal -->
                    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content text-primary">
                                <div class="modal-body text-center">
                                    <p class="text-primary little-title space-separator border-bottom border-primary">Compte créé</p>
                                    <p class="text-primary1 medium-space-separator padding-sides">
                                        Merci d'avoir fait confiance à Locatio, un email vous a été envoyé pour finaliser votre compte.
                                        <br/><br/>
                                        Pour toute question, vous pouvez nous écrire à contact@locatio.beta.gouv.fr
                                    </p>
                                    <div class="medium-space-separator-top">
                                        <a th:href="@{/home}" class="btn btn-primary btn-responsive subtitle1">Terminer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
