<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Connexion à mon compte
                    Locatio</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-md-6 col-sm-8 col-xs-10">
                <form th:action="@{/login}" th:method="post">
                    <input type="hidden" autocomplete="true" required="required" th:name="token" th:value="*{token}" id="token"/>
                    <div class="form-group">
                        <label for="email" class="text-primary1 formatted-label  space-separator">Email&nbsp;:</label>
                        <input type="email" autocomplete="true" required="required" name="username" id="email"
                               class="form-control form-control-formatted form-control-untouched " th:classappend="${param.error} ? 'invalid' : ''"/>
                    </div>
                    <div class="form-group">
                        <label for="pas" class="text-primary1 formatted-label  space-separator">Mot de passe&nbsp;:</label>
                        <input type="password" class="form-control form-control-formatted form-control-untouched " name="password" id="pas"
                               th:classappend="${param.error} ? 'invalid' : ''"/>
                    </div>
                    <div class="text-center space-separator" th:if="${param.error}"><span>Merci de vérifier vos informations de connexion</span></div>
                    <div class="text-center medium-space-separator">
                        <button type="submit" class="btn btn-primary btn-responsive animated subtitle1">Valider</button>
                        <br/><br/>
                        <a class="text-primary1" href="/mot-de-passe-oublie">J'ai oublié mon mot de passe.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
