<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p th:if="${status==null}" class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">Donner l'accès</p>
                <p th:unless="${status==null}" class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom" th:text="${status}"></p>
            </div>
        </div>

        <div class="row" th:if="${status==null}">
            <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-10">
                <form class="form" th:action="@{/proprietaire/owner-subscriber}" th:method="post">
                    <input type="hidden" autocomplete="true" required="required" th:name="token" th:value="*{token}" id="token"/>
                    <input type="hidden" th:name="access" value="false" />

                    <div class="text-center medium-space-separator">
                        <button th:text="#{tenant.subscribe.button1}" type="submit" class="btn btn-primary btn-responsive animated subtitle1"></button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-10">
                <form class="form" th:action="@{/proprietaire/owner-subscriber}" th:method="post">
                    <input type="hidden" autocomplete="true" required="required" th:name="token" th:value="*{token}" id="token"/>
                    <input type="hidden" th:name="access" value="true" />


                    <div class="text-center medium-space-separator">
                        <button th:text="#{tenant.subscribe.button2}" type="submit" class="btn btn-primary btn-responsive animated subtitle1"></button>
                    </div>
                </form>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_TENANT')" class="row">
            <div class="col-md-offset-3 col-md-8 col-sm-8 col-xs-10">
                <a th:href="@{/locataire/mon-compte}" th:text="#{tenant.subscribe.link}"></a>
            </div>

        </div>
    </div>

</div>
</body>
</html>
