<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
            Vues jours</p>
    </div>
    <div class="row" style="text-align: center">
        <img width="800px" src="/assets/images/stats/Vues_jours.PNG"/>
    </div>
    <br/><br/>
    <div class="row">
        <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
            Vues heures</p>
    </div>
    <div class="row" style="text-align: center">
        <img width="800px" src="/assets/images/stats/Vues_Heures.PNG"/>
    </div>
    <br/><br/>
    <div class="row">
        <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
            Vues heures 2</p>
    </div>
    <div class="row" style="text-align: center">
        <img width="800px" src="/assets/images/stats/Vues_Heures_2.PNG"/>
    </div>
    <br/><br/>
    <div class="row">
        <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
            Conversion propriétaires</p>
    </div>
    <div class="row" style="text-align: center">
        <img width="800px" src="/assets/images/stats/Proprietaire_conversion.PNG"/>
    </div>

</div>
</body>
</html>