<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
    <meta name="robots" content="noindex, nofollow"/>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row" style="text-align: center;">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">

                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
                    <span th:text="${'Colocation de ' + apartmentSharing.getTenantApartmentSharing().getFirstName() + ' ' + apartmentSharing.getTenantApartmentSharing().getLastName()}"></span>
                </p>
                <p class="little-title">
                    <span>Tous les dossiers sont </span><span class="text-success" style="font-weight: bold;">complets</span>
                </p>
                <br/>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <p th:text="#{colocatio.profile.restricted.subtitle(${apartmentSharing.getNumberOfTenants()},${totalSalary})}"></p>
                <br/>
                <div th:each="tenant,iter: ${tenants}" th:remove="tag">
                    <p th:if="${tenant.getGuarantor()==null}">
                        <img src="/assets/icons/blue_tick.svg"
                             style="position: relative;height: 30px;top: -6px;"/>
                        <span th:text="#{tenant.profile.restricted.subtitle(${tenant.getFirstName()},${tenant.getLastName()},${tenant.getTenantSituation().getLabel()},${tenant.getSalary()})}"></span>
                    </p>

                    <p th:unless="${tenant.getGuarantor()==null}">
                        <img src="/assets/icons/blue_tick.svg"
                             style="position: relative;height: 30px;top: -6px;"/>
                        <span th:text="#{tenant.profile.restricted.subtitle(${tenant.getFirstName()},${tenant.getLastName()},${tenant.getTenantSituation().getLabel()},${tenant.getSalary()})} + ' ' + #{tenant.profile.restricted.subtitle2}"></span>
                    </p>
                </div>
                <br/>
                <p style="font-weight: bold" th:text="#{colocatio.profile.restricted.access.info}"></p>
            </div>
        </div>
    </div>

    <div th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" class="text-center">
        <div class="bg-primary text-center medium-space-separator text-primary">
            <div class="container">
                <a th:href="@{/proprietaire/mon-compte}" class="btn btn-primary btn-responsive animated bounceInUp"
                   th:text="#{tenant.profile.button4}"></a>
            </div>
        </div>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" class="text-center">
        <div class="bg-primary text-center medium-space-separator text-primary">
            <div class="container">
                <!--<span th:text="#{tenant.profile.button5.label}"></span>-->
                <!--<br/><br/>-->
                <a th:href="@{/info-proprietaire(token=${token})}"
                   class="btn btn-primary btn-responsive animated bounceInUp" th:text="#{tenant.profile.button5}"></a>
            </div>
        </div>
    </div>


</div>

</body>
</html>
