<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
    <meta name="robots" content="noindex, nofollow"/>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row" style="text-align: center;">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">

                <p th:if="${showFiles}"
                   class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
                    <span th:text="${'Dossier de ' + tenant.getFirstName() + ' ' + tenant.getLastName()}"></span></p>
                <p th:if="${not showFiles}"
                   class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
                    <span th:text="#{tenant.profile.restricted.title(${tenant.getFirstName()},${tenant.getLastName()})}"></span>
                </p>
                <p th:if="${tenant.getTenantFileStatus().name() == 'TO_PROCESS'}"><span>Ce dossier est en cours de vérification</span>
                </p>
                <p class="little-title" th:if="${tenant.getTenantFileStatus().name() == 'VALIDATED'}">
                    <span>Le dossier est </span><span class="text-success" style="font-weight: bold;">complet</span>
                </p>
                <br/>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <p th:if="${tenant.getGuarantor()==null}" th:text="#{tenant.profile.restricted.subtitle(${tenant.getFirstName()},${tenant.getLastName()},${tenant.getTenantSituation().getLabel()},${tenant.getSalary()})}"></p>
                <p th:unless="${tenant.getGuarantor()==null}" th:text="#{tenant.profile.restricted.subtitle(${tenant.getFirstName()},${tenant.getLastName()},${tenant.getTenantSituation().getLabel()},${tenant.getSalary()})} + ' '+ #{tenant.profile.restricted.subtitle2}"></p>
                <br/>
                <p>
                    <img src="/assets/icons/blue_tick.svg" style="position: relative;height: 30px;top: -6px;"/>
                    <span th:text="#{tenant.profile.restricted.subtitle3}"></span>
                </p>
                <p>
                    -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link1.v2}"></span>
                    <a th:if="${showFiles}" th:text="#{tenant.profile.link1.v2}" th:href="${tenant.getUpload1()}" target="_blank" style="text-decoration: underline;"></a>
                </p>

                <p>
                    -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link2.v2}"></span>
                    <a th:if="${showFiles}" th:text="#{tenant.profile.link2.v2}" th:href="${tenant.getUpload2()}" target="_blank" style="text-decoration: underline;"></a>
                </p>
                <p>
                    -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link3.v2}"></span>
                    <a th:if="${showFiles}" th:text="#{tenant.profile.link3.v2}" th:href="${tenant.getUpload3()}" target="_blank" style="text-decoration: underline;"></a>
                </p>
                <p>
                    -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link4.v2}"></span>
                    <a th:if="${showFiles}" th:text="#{tenant.profile.link4.v2}" th:href="${tenant.getUpload4()}" target="_blank" style="text-decoration: underline;"></a>
                </p>
                <p>
                    -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link5.v2}"></span>
                    <a th:if="${showFiles}" th:text="#{tenant.profile.link5.v2}" th:href="${tenant.getUpload5()}" target="_blank" style="text-decoration: underline;"></a>
                </p>

                <div class="medium-margin-top" th:if="${tenant.getGuarantor()!=null}">
                    <p>
                        <img src="/assets/icons/blue_tick.svg" style="position: relative;height: 30px;top: -6px;"/>
                        <span th:text="#{tenant.profile.restricted.subtitle4}"></span>
                    </p>
                    <p>
                        -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link1.v2}"></span>
                        <a th:if="${showFiles}" th:text="#{tenant.profile.link1.v2}" th:href="${tenant.getGuarantor().getUpload1()}" target="_blank" style="text-decoration: underline;"></a>
                    </p>
                    <p>
                        -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link2.v2}"></span>
                        <a th:if="${showFiles}" th:text="#{tenant.profile.link2.v2}" th:href="${tenant.getGuarantor().getUpload2()}" target="_blank" style="text-decoration: underline;"></a>
                    </p>
                    <p>
                        -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link3.v2}"></span>
                        <a th:if="${showFiles}" th:text="#{tenant.profile.link3.v2}" th:href="${tenant.getGuarantor().getUpload3()}" target="_blank" style="text-decoration: underline;"></a>
                    </p>
                    <p>
                        -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link4.v2}"></span>
                        <a th:if="${showFiles}" th:text="#{tenant.profile.link4.v2}" th:href="${tenant.getGuarantor().getUpload4()}" target="_blank" style="text-decoration: underline;"></a>
                    </p>
                    <p>
                        -&nbsp;<span th:if="${not showFiles}" th:text="#{tenant.profile.link5.v2}"></span>
                        <a th:if="${showFiles}" th:text="#{tenant.profile.link5.v2}" th:href="${tenant.getGuarantor().getUpload5()}" target="_blank" style="text-decoration: underline;"></a>
                    </p>
                </div>
                <br/>
                <p th:if="${not showFiles}">
                    <span style="font-weight: bold" th:text="#{tenant.profile.restricted.access.info(${tenant.getFirstName()})}"></span><br/>
                    <span th:text="#{tenant.profile.restricted.access.info2}"></span>
                </p>
            </div>
        </div>
    </div>

    <div th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" class="text-center">
        <div class="bg-primary text-center medium-space-separator text-primary">
            <div class="container">
                <a th:href="@{/proprietaire/mon-compte}" class="btn btn-primary btn-responsive animated bounceInUp"
                   th:text="#{tenant.profile.button4}"></a>
            </div>
        </div>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" class="text-center">
        <div class="bg-primary text-center medium-space-separator text-primary">
            <div class="container">
                <span th:text="#{tenant.profile.button5.label}"></span>
                <br/><br/>
                <a th:href="@{/info-proprietaire(token=${token})}"
                   class="btn btn-primary btn-responsive animated bounceInUp" th:text="#{tenant.profile.button5}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
