@use 'variables';
@import '@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--g700);
  min-width: 350px;
}

.color--primary {
  color: var(--primary) !important;
}

.color--focus {
  color: var(--focus);
}

.color--secondary {
  color: var(--light-blue) !important;
}

.color--green {
  color: limegreen !important;
}

.color--red {
  color: var(--red-marianne-main-472) !important;
}

.color--white {
  color: white !important;
}

.bg--orange {
  background-color: var(--salmon2);
}

.bg--blue {
  background-color: var(--light-blue-transparent);
}

.bg--dark-blue {
  background-color: var(--primary);
}

.bg--grey {
  background-color: #f2f2f9;
}

.bg-blue {
  width: 100%;
  background-color: var(--bf100-g750);
  overflow: auto;
}

.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-48 {
  font-size: 48px;
}
.fs-80 {
  font-size: 80px;
}

.fr-grid-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-bold {
  font-weight: bold;
}

.justify-content-center {
  justify-content: center;
}

.underline {
  text-decoration: underline;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-to-process {
  color: var(--purple-glycine-main-494) !important;
}

.text-danger {
  color: #dc3545 !important;
}

.bg-orange {
  background-color: rgb(248, 191, 160) !important;
}

.bg--white {
  background-color: white !important;
}

.border--radius {
  border-radius: 6px;
}

.cursor--pointer {
  cursor: pointer;
}

input[type='checkbox']:focus + label::before {
  outline: none !important;
  outline-offset: none !important;
  z-index: 0 !important;
}

.fr-checkbox-group {
  &:focus-within {
    outline-style: auto;
    outline-width: 2px;
    outline-offset: 4px;
    outline-color: #0a76f6;
  }
}

.fr-fi-menu-fill {
  visibility: hidden;
}

.fr-fi-menu-fill:last-child {
  visibility: visible !important;
}

.fr-fi-close-line {
  visibility: hidden;
}
.fr-fi-close-line:last-child {
  visibility: visible !important;
}

.fr-header {
  z-index: 1050;
}

img {
  max-width: 100%;
  display: block;
}

.vld-overlay {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(1, 7, 19, 0.2);
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.mx-auto {
  margin: auto;
}

.spacer {
  flex: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  div {
    align-self: center;
  }
}

.annotationLayer {
  visibility: hidden;
}

.space-between {
  justify-content: space-between;
  align-content: space-between;
}

.space-around {
  justify-content: space-around;
  align-content: space-around;
}

.align-items--center {
  align-items: center;
}

.blue-text {
  color: var(--blue-france-sun-113-625);
}

.text--light-blue {
  color: #0063cb;
}

.white-text {
  color: white;
}

.text--white {
  color: white;
}

.fluid-full-width {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.BeaconFabButtonFrame {
  top: calc(100vh - 200px) !important;
  @media all and (min-width: 768px) {
    top: calc(100vh - 150px) !important;
  }
  &:focus-within {
    outline-style: auto;
    outline-width: 2px;
    outline-offset: 4px;
    outline-color: #0a76f6;
  }
}

.BeaconContainer-enter-done {
  @media all and (min-width: 768px) {
    bottom: 160px !important;
    @media all and (max-height: 830px) {
      max-height: calc(100% - 160px) !important;
    }
  }
}

.bg-purple {
  padding: 1rem;
  background-color: #e5e5f4;
}

.fr-container-full-size {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
}

.full-height {
  min-height: 100vh;
}

.max-600 {
  max-width: 450px;
  @media all and (min-width: 1024px) {
    max-width: 610px !important;
  }
}

.small-font {
  font-size: 14px;
}

.full-width-xs {
  @media all and (max-width: 767px) {
    width: 100%;
  }
}

.full-width {
  width: 100%;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.no-shadow {
  box-shadow: none !important;
}

.small-text {
  font-size: 0.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fr-background-contrast--info {
  --hover: var(--background-contrast-info-hover) !important;
  --active: var(--background-contrast-info-active) !important;
  background-color: var(--background-contrast-info) !important;
}

.fr-text-default--info {
  color: var(--text-default-info) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #18753c !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #d50101 !important;
}

.mobile {
  display: inherit !important;
  @media all and (min-width: 768px) {
    display: none !important;
  }
}

.desktop {
  display: none !important;
  @media all and (min-width: 768px) {
    display: inherit !important;
  }
}

.avis-title {
  color: #b34000 !important;
}

.warning-tax-modal {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.btn-align {
  align-self: center;
  @media all and (min-width: 768px) {
    align-self: end;
  }
}

.bold {
  font-weight: bold;
}

.align--right {
  text-align: right;
}

.float--right {
  float: right;
}

.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

.align-self--center {
  align-self: center;
}

.inline-block {
  display: inline-block;
}

.bg-purple-var {
  --background-default-grey: #e5e5f4;
}

h1 {
  overflow-wrap: anywhere;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.circle {
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  display: inline-block;
  height: 2.25rem;
  width: 2.25rem;
  min-width: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  z-index: 1;
  margin-right: 0.5rem;
}

.text-align--right {
  text-align: right;
}

.display--flex {
  display: flex;
}

.flex--1 {
  flex: 1;
}

.full-mobile {
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
  }
}

.btn-link {
  background-image: var(--underline-img),var(--underline-img);
  background-position: var(--underline-x) 100%,var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat,no-repeat;
  background-size: var(--underline-hover-width) calc(var(--underline-thickness)*2),var(--underline-idle-width) var(--underline-thickness);
  transition: background-size 0s;
  padding: 0;
  --hover-tint: transparent;
  &:hover {
    background-color: var(--hover-tint);
    --underline-hover-width: var(--underline-max-width)
  }
}