:root {
  --primary: #000091;
  --secondary: #d4e3fc;
  --light-blue: #5770be;
  --light-blue-transparent: #5771be22;
  --salmon2: #fff0e7;
  --bd300: #d1d2de;
  --blue-france-200: #e5e5f4;
  --blue-france-925: #e3e3fd;
  --blue-france-hover: #b2b2f9;

  --bf500: #000091;
  --bf500-plain: #000091;
  --w-bf500: #fff;
  --bf200-bf300: #ececff;
  --bf100-g750: #f5f5ff;
  --t-w: transparent;
  --g800: #1e1e1e;
  --g700: #383838;
  --g600: #6a6a6a;
  --g500: #9c9c9c;
  --g400: #cecece;
  --g300: #e7e7e7;
  --g200: #f0f0f0;
  --g100: #f8f8f8;
  --beige: #f9f8f6;
  --g800-plain: #1e1e1e;
  --g600-g400: #6a6a6a;
  --g400-t: #cecece;
  --g100-g800: #f8f8f8;
  --w-g750: #fff;
  --focus: #2a7ffe;
  --info: #0762c8;
  --success: #008941;
  --error: #e10600;
  --rm300: #f7bfc3;
  --danger: #ce0500;

  --dpe-energy-A: #007703;
  --dpe-energy-B: #4ea806;
  --dpe-energy-C: #ccd603;
  --dpe-energy-D: #ffef6c;
  --dpe-energy-E: #fdc765;
  --dpe-energy-F: #fd8201;
  --dpe-energy-G: #fd3337;
  --dpe-co2-A: #97d7f3;
  --dpe-co2-B: #85a8c6;
  --dpe-co2-C: #6e8da9;
  --dpe-co2-D: #536385;
  --dpe-co2-E: #566b8a;
  --dpe-co2-F: #2f2e50;
  --dpe-co2-G: #030014;

  --blue-cb: #0063cb;
  --purple-text: #855080;
  --purple-background: #fef3fd;
}
