<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Locatio</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="container big-space-separator">
        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <p class="little-title text-center padding border-bottom border-primary text-primary text-primary1 medium-margin-bottom">
                    Constituez votre dossier : seules les pièces autorisées par la loi vous sont demandées</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
            <div class="col-md-6 col-sm-8 col-xs-10">

                <form autocomplete="off" class="form" th:action="@{/registerTenant/step4/} + ${tenantDTO.getId()} + '/' + ${tenantDTO.getTenantType()}"
                      method="post" th:object="${tenantDTO}"
                      onsubmit="return validate_form()"
                      enctype="multipart/form-data" id="formLocataire">
                    <div class="form-group" th:if="${tenantDTO.tenantType}=='create'">
                        <label for="numberOfTenants" class="text-primary1 formatted-label space-separator"
                               th:text="#{form.number.of.tenants}"></label>
                        <select id="numberOfTenants" th:field="*{numberOfTenants}"
                                class=" rounded-select form-control form-control-formatted form-control-untouched"
                                placeholder="Situation">
                            <!--<option  th:text="#{tenant.form.situation.situation}"></option>-->
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                            <option th:value="6">6</option>

                        </select>
                    </div>
                    <div class="form-group" th:if="${tenantDTO.tenantType}=='join'">
                        <label for="tenantEmail" class="text-primary1 formatted-label space-separator"
                               th:text="#{form.join.apartmentSharing}"></label>
                        <input type="email" id="tenantEmail" autocomplete="true"
                               th:field="*{tenantEmail}"
                               class="form-control form-control-formatted form-control-untouched"
                               placeholder="Email"/>
                        <span th:if="${#fields.hasErrors('tenantEmail')}" class="help-block" th:errors="*{tenantEmail}"
                              style="color: red"></span>
                    </div>
                    <div class="form-group">
                        <!--<input id="situation" required="required" autocomplete="true" th:field="*{situation}" class="form-control form-control-formatted form-control-untouched" placeholder="Situation"/>-->
                        <select th:field="*{situation}"
                                class=" rounded-select form-control form-control-formatted form-control-untouched"
                                placeholder="Situation">
                            <!--<option  th:text="#{tenant.form.situation.situation}"></option>-->
                            <option th:value="0" th:text="#{tenant.form.situation.cdi}"></option>
                            <option th:value="1" th:text="#{tenant.form.situation.cdi_trial}"></option>
                            <option th:value="2" th:text="#{tenant.form.situation.cdd}"></option>
                            <option th:value="3" th:text="#{tenant.form.situation.internship}"></option>
                            <option th:value="4" th:text="#{tenant.form.situation.student}"></option>
                            <option th:value="5" th:text="#{tenant.form.situation.public}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" id="salary" autocomplete="true" th:field="*{salary}"
                               class="form-control form-control-formatted form-control-untouched"
                               placeholder="Salaire net mensuel"/>
                        <!--<span id="email-error" style="display: none; color: red"></span>-->
                    </div>



                    <div class="text-center medium-space-separator">
                        <button th:text="#{tenant.form.button.next}" type="submit" data-loading-text="Next step in course"
                                id="create-tenant" class="btn btn-primary btn-responsive animated subtitle1">
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>
