$primary-color:#003189;
$primary-color-hover:#002059;
$primary-color-border:#b6caee;
$secondary-color:#333333;
$alter-color:#e9ebf1;
$primary-background-color:#f8f8f8;
$secondary-background-color:#b6caee;
$green-background-color:#70a83b;
$red-color:#ff0103;
