@import "_variables";
@import "_fonts";
*{
  line-height: 1;
}
p{
  line-height: 1.5;
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $primary-background-color;
  font-family: "REFSAN";
  font-size: 16px;
  color:$secondary-color;
  table{
    color:$secondary-color;
  }
}

.banner { 
  position: absolute;
  height: 100vh; 
  width: 100%;
  background-image: url("../assets/images/banner.jpg");
  transition: background-image 1s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .image-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    @media (max-width:700px) {
      padding-bottom:60px;
      .big-title{
        font-size: 26px;
      }
      .super-big-title{
        font-size: 44px;
      }
    }   
  }
  .banner-gradient{
    position: absolute;
    height:35%;
    right:0;
    left:0;
    bottom:0;
    img{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.buttons-container{
  a{
    margin:0 5px 10px;
  }
}


.btn{
  border-radius: 50px;
  padding: 10px 50px 12px;
  font-size: 24px;
  line-height: 1;
}
.btn-responsive{
  @media(max-width:700px){
    font-size: 18px !important;  
    max-width: 90%;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
  a.btn-responsive{
    @media(max-width:700px){
      padding:-50px;
      text-align: center;
      line-height: 1;
    }
  }
}
.btn-primary{
  background-color:$primary-color;
  color:$alter-color !important;
  *{
    color:$alter-color !important;
  }
}

.btn-default{
  background-color:none;
  color:$primary-color !important;
  border-color:$primary-color;
  opacity: 0.8;
}

 .btn-primary:focus,
 .btn-primary:hover,
 .btn-primary:active,
 .btn-default:focus,
 .btn-default:hover,
 .btn-default:active,{
  background-color:$primary-color-hover !important;
  border-color: rgba(0,0,0,0) !important;
  color: $primary-background-color !important;
  opacity:1;
  transition: background-color 0.2s linear;
  *{
    color:$primary-background-color !important;
  }
}


.banner-owner{
  background-image: url("../assets/images/banner2.jpg");
  transition: background-image 1s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-reset,label{
  font-family: "REFSAN" !important;
  font-size: 16px !important;
  color: black ;
  font-weight: initial !important;
}
.text-primary{
  color: $primary-color;
}
.text-primary1{
  opacity:0.8;
}
.text-alter{
  color:$alter-color;
}
.title{
  font-size: 26px;
}
.super-big-title{
  font-size: 48px;
}
.big-title{
  font-size: 30px;
}
.medium-title{
  font-size: 26px;
}
.little-title{
  font-size: 24px;
}
.subtitle{
  font-size: 20px;
}
.subtitle1{
  font-size: 18px;
}
.bg-primary{
  background-color:$secondary-background-color;
}
.bg-white{
  background-color:white;
}
.bg-extra{
  background-color:#c4bfbc;
}

.icon{
  svg,img{
    width: 100px;
    height: 100px;
    line-height: 1;
  }
}
.icon-medium{
  svg,img{
    width: 70px;
    height: 70px;
    line-height: 1;
  }
}
.icon-small{
  svg,img{
    width: 30px;
    height: 30px;
    line-height: 1;
  }
}
.icon-primary{
  svg{
    .cls-1,.cls-2{
      stroke:$primary-color;
    }
  }
}
.medium-size-container{
  width:70px;
  height:70px;
  padding: 15px;
  img{
    width: 100%;
    height: 100%;
  }
}

.space-separator{
  padding:15px 0;
}
.space-separator-top{
  padding-top:15px;
}
.space-separator-bottom{
  padding-bottom:15px;
}
.medium-space-separator{
  padding:30px 0;
}
.medium-space-separator-bottom{
  padding-bottom:30px;
}
.medium-space-separator-top{
  padding-top:30px;
}
.big-space-separator{
  padding-top:60px;
  padding-bottom:60px;
}
.big-space-separator-top{
  padding-top:60px;
}
.big-space-separator-bottom{
  padding-bottom:60px;
}
.sutil-space-separator{
  padding-bottom:15px;
  @media(max-width:767px){
    padding:15px 0;
  }
}

.sutil-space-separator-top{
  padding-top:50px;
  @media(max-width:767px){
    padding-top:15px
  }
}
.sutil-space-separator-bottom{
  padding-bottom:60px;
  @media(max-width:767px){
    padding-bottom:30px
  }
  @media(max-width:550px){
    padding-bottom:15px
  }
  @media(max-width:767px) and (orientation:landscape){
    padding-bottom:5px
  }
}
.sutil-separator-xs{
  @media(max-width:767px){
    padding-bottom:5px
  }
}
.sutil-separator-xs-double{
  @media(max-width:767px){
    padding-bottom:10px
  }
}


.center-xs{
  @media(max-width:767px){
    text-align:center;
  }
}
.dissapear-xs{
  @media(max-width:767px){
    display:none;
  }
}

.logo{
 width:300px;
}
.line-separator{
  width: 50%;
  margin: 50px 25%;
  border-top:1px solid $secondary-background-color;
} 

.text-image .icon-small{
  vertical-align: top;
  padding-right:15px;
}
p{
  line-height: 1.5;
}

.bg-primary-container{
  padding: 40px 15px;
}

a{
 color: #333333;
 &:hover{
   color: $primary-color;
   border-color: rgba(0,0,0,0);
 }
}
.padding{
  padding:15px;
}
.padding-sides{
  padding-left:15px;
  padding-right:15px; 
}
.padding-left{
  padding-left:15px;
}
.padding-right{
  padding-right:15px; 
}
.medium-padding-sides{
  padding-left:30px;
  padding-right:30px; 
}
.margin{
  margin:15px;
}
.margin-left{
margin-left:15px;
}
.margin-right{
  margin-right:15px;
}
.margin-top{
  margin-top:15px;
}
.margin-bottom{
  margin-bottom:15px;
}
.medium-margin{
  margin:30px;
}
.medium-margin-left{
margin-left:30px;
}
.medium-margin-right{
  margin-right:30px;
}
.medium-margin-top{
  margin-top:30px;
}
.medium-margin-bottom{
  margin-bottom:30px;
}
.no-margin,.no-spaces{
  margin: 0;
}
.no-padding,.no-spaces{
  padding: 0;
}

.line{
  border-top:1px solid #9c8d7a;
}
.form-control-formatted{
  line-height: 1;
  color:$primary-color;
  &:focus,&.active{
    box-shadow: none;
  }
}
.form-group-formatted,.form-formatted{
  line-height: 1;
  margin-bottom: 0;
}
textarea{
  border:1px solid $primary-color !important;
  line-height: 1.5;
}
input{
  border:1px solid $primary-color !important;
  padding-left:20px !important;
  padding-right:20px; 
  border-radius: 50px !important;
  &.form-control{
    height: 40px;
  }

}

.form-control-untouched{
  border-color:$secondary-background-color !important;
  &::-webkit-input-placeholder,&:-moz-placeholder,
  &::-moz-placeholder,&:-ms-input-placeholder
  {
    color: $secondary-background-color;
  }
  box-shadow: none;
}
label{
  color: $primary-color;
  opacity: 0.8;
}
.formatted-label{
  padding-left:20px;
}

.input-icon{
  position: relative;
  input{ 
    padding-left:20px;
    padding-right:30px;
    height: 40px;
  }
  img,.img{
    position: absolute;
    top:6px;
    right:6px;
    width: 28px;
    height: 28px;
    background-color: $primary-color;
    border-radius: 50%;
    padding:9px;
    cursor: pointer;
    display: inline-block;
  }
  &.formatted-icon-input{
    display: inline-block;
    input{
      &::-webkit-input-placeholder,&:-moz-placeholder,
      &::-moz-placeholder,&:-ms-input-placeholder{
        color: $primary-color;
      }
    }
  }
  &.green-icon{
    img,.img{
      background-color: $green-background-color;
    }
  }
  .img span{
    position:relative;
    bottom:4.5px;
    right: 1.5px;
  }
}


.rounded-badge{
  width:30px;
  height:30px;
  padding-top:6.5px;
  display: inline-block;
  line-height: 1;
  border-radius: 50%;
}
.special-margin{
  margin: 0 30px;
}
table.paired-td{
  width: 100%;
  td{
    width:20%;
    text-align: center;
    vertical-align: top;
    >*:first-child{
      margin-top: 10px;
    }
  }
}

.bg-red{
  background-color: red;
}

.col-md-0{
  @media(max-width:970px){
    display:none;
  }
}
.col-md-show{
  display: none;
  @media(max-width:970px){
    display:block;
  }
}
.little-card{
  max-width: 300px;
  margin: auto;
}
.rounded{
  border-radius: 50%;
}
.border{
  border-width: 1px;
  border-style: solid;
}
.border-primary{
  border-color:$secondary-background-color;
}
.border-right{
  border-right-width: 1px;
  border-right-style: solid;
}
.border-bottom{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.card{
  padding:20px;
  border-radius:10px;
  border:1px solid $primary-color-border;
  @media(max-width:992px){
    margin:0 15px 30px;
    &.no-margin-bottom{
      margin:0 15px;
    }
  }
}

.animated-2{
  animation-duration: 1.5s;
}

.fix-fixed-bottom{
  margin-bottom:100px;
}

.modal{
  padding:10px;
}

.invalid{
  border-color:#fe0000 !important;
}
.alert{
  border-radius: 50px;
  padding: 5px 30px;
  display:inline-block;
  color:$alter-color;
  &::selection{
    background-color: rgba(0,0,0,0);
  }
}
.alert-danger{
  background-color: $red-color;
}
.alert-success{
  background-color:$green-background-color;
}
.alert-info{
  background-color: $secondary-background-color;
  color: $primary-color;
}
.wide{
  width: 100%;
  background: red;
}