name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: main install # will run `yarn install` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: main build # will run `yarn build` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: main test:unit # will run `yarn test` command
      
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: tenant install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: tenant build
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: tenant test:unit
